/* Taskbar has to be its own container*/

/*.wrapper class is inside the sidebar class*/

/*Taskbar Flexbox container - .wrapper*/

/* Flex container for StartBt, Cornata, and Time - .wrapper */

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*Taskbar flexbox items*/

.wrapper>div {
  margin-right: .06em;
  margin-left: .06em;
  font-size: 1em;
  background: black;
  color: white;
  align-self: flex-start;
  max-height: 40px;
}

/* select each flex item individually */

/* StartBt flex item styles*/

.wrapper div:nth-child(1) {
  flex: 6;
}

/* Cortana flex item styles*/

.wrapper div:nth-child(2) {
  flex: 10;
}

/* Time flex item styles*/

.wrapper div:nth-child(3) {
  flex: 2;
}

/*////////////////////////Styling pop-up menues of StartBt, Cortana, and Timer  */

/* StartBtutton - .design-selection*/

/*pop-up paragraphs go flex container*/

.design-selection {
  display: flex;
  justify-content: flex-start;
  /*default - starts containers from left*/
  flex-direction: column;
  max-width: 800px;
  /* height property may need to be responsive */
  max-height: 200px;
  /*center settings icon*/
  position: relative;
}

/*flex items styles*/

.design-selection>h3, .design-selection>nav {
  padding: .1em;
  margin: .05em;
  font-size: 1em;
  background: black;
  color: white;
  flex: 1;
  width: 200px;
  /*must have*/
  align-self: flex-start;
}

/* Icon background change */

.design-selection::before {
  background: black;
  content: url("images/WindowsIcon1.png");
  visibility: visible;
}

/* gray on click */

.design-selection:hover::before {
  content: url("images/WindowsIcon2.png");
}

/* Icon background change end*/

/* before click/unclick effets are applied, all pop-up elements are moved */

.design-selection>h3, .design-selection>nav {
  transform: translate(40px, -390px);
}

/*phone screen - before click/unclick effets are applied, all pop-up elements are moved*/

/* @media only screen and (max-width: 700px) {
    .design-selection > h3, .design-selection > nav {
      transform: translate(40px, -487px);
    }
} */

/*Click/Unclick effect*/

/*include .page-wrapper(entire body) for click/unclick*/

.page-wrapper .design-selection>h3, .page-wrapper .design-selection>nav {
  color: white;
  visibility: hidden;
  /*Click*/
  -webkit-transition: all 0s 1000s;
  transition: all 0s 1000s;
}

/*Click*/

.design-selection:active>h3, .design-selection:active>nav {
  visibility: visible;
  transition: all 0s;
}

/*Unclick*/

.page-wrapper:active .design-selection>h3, .page-wrapper:active .design-selection>nav {
  transition-property: none !important;
}

/* Cortana */

/*pop-up paragraphs go flex container*/

.design-archives {
  display: flex;
  justify-content: flex-start;
  /*default - starts containers from left*/
  flex-direction: column;
  max-width: 800px;
  /* heigh property may need to be responsive */
  max-height: 200px;
  /*center settings icon*/
  position: relative;
}

/*flex items styles*/

.design-archives>h3, .design-archives>nav {
  padding: .1em;
  margin: .05em;
  font-size: 1em;
  background: black;
  color: white;
  flex: 1;
  min-width: 200px;
  /*must have*/
  align-self: flex-start;
}

/* Icon background change */

.design-archives::before {
  background: black;
  content: url("images/Cortana1.png");
  visibility: visible;
}

/* gray on click */

.design-archives:hover::before {
  content: url("images/Cortana2.png");
}

/* Icon background change end*/

/* before click/unclick effets are applied, all pop-up elements are moved */

.design-archives>h3, .design-archives>nav {
  transform: translate(40px, -160px);
}

/*Click/Unclick effect*/

/*include .page-wrapper(entire body) for click/unclick*/

.page-wrapper .design-archives>h3, .page-wrapper .design-archives>nav {
  color: white;
  visibility: hidden;
  /*Click*/
  -webkit-transition: all 0s 1000s;
  transition: all 0s 1000s;
}

/*Click*/

.design-archives:active>h3, .design-archives:active>nav {
  visibility: visible;
  transition: all 0s;
}

/*Unclick*/

.page-wrapper:active .design-archives>h3, .page-wrapper:active .design-archives>nav {
  transition-property: none !important;
}

/* Timer */

/*pop-up paragraphs go flex container*/

.zen-resources {
  display: flex;
  justify-content: flex-start;
  /*default - starts containers from left*/
  flex-direction: column;
  max-width: 800px;
  /* heigh property may need to be responsive */
  max-height: 200px;
  /*center settings icon*/
  position: relative;
}

/*flex items styles*/

.zen-resources>h3, .zen-resources>ul {
  padding: .1em;
  margin: .05em;
  font-size: 1em;
  background: black;
  color: white;
  flex: 1;
  min-width: 200px;
  /*must have*/
  align-self: flex-start;
}

/* Icon background change */

.zen-resources::before {
  background: black;
  content: url("images/Timer1.png");
  visibility: visible;
}

/* gray on click */

.zen-resources:hover::before {
  content: url("images/Timer2.png");
}

/* Icon background change end*/

/* before click/unclick effets are applied, all pop-up elements are moved */

.zen-resources>h3, .zen-resources>ul {
  transform: translate(0px, -160px);
}

/*Click/Unclick effect*/

/*include .page-wrapper(entire body) for click/unclick*/

.page-wrapper .zen-resources>h3, .page-wrapper .zen-resources>ul {
  color: white;
  visibility: hidden;
  /*Click*/
  -webkit-transition: all 0s 1000s;
  transition: all 0s 1000s;
}

/* Icon */

.zen-resources::before {
  content: url("images/Timer1.png");
  visibility: visible;
}

/*Click*/

.zen-resources:active>h3, .zen-resources:active>ul {
  visibility: visible;
  transition: all 0s;
}

/*Unclick*/

.page-wrapper:active .zen-resources>h3, .page-wrapper:active .zen-resources>ul {
  transition-property: none !important;
}
